@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");

html,
body {
  font-family: "Fredoka", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 99vh;
  overflow: hidden;
}

.kamclock-app {
  background-color: #007bff;
  color: #fff;
  max-width: 375px;
  padding: 5px 14px;
  margin: auto;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.33);
  font-size: 49px;
  text-align: center;
  border-radius: 5px;
}
